*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: #6D5D4B;
  font-weight: 200;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr; }

.sidebar {
  background-color: #c69963; }

.header {
  background-color: #54483A; }

.realtors {
  background-color: #101d2c; }

.features {
  background-color: #aaa; }

.story__pictures {
  background-color: #c69963; }

.story__content {
  background-color: #f9f7f6; }

.homes {
  background-color: #101d2c; }

.gallery {
  background-color: #54483A; }

.footer {
  background-color: #101d2c; }
